[user]
	name = Abhinav Tushar
	email = lepisma@fastmail.com
	signingkey = 24C44C69
[core]
	editor = mumacs
[commit]
	gpgsign = true
[pull]
	rebase = true
[github]
	user = lepisma
[gpg]
	program = /usr/bin/gpg2
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false