[user]
	name = Abhinav Tushar
	email = abhinav@lepisma.xyz
	signingkey = 24C44C69
[core]
	editor = mumacs
[commit]
	gpgsign = true
[pull]
	rebase = true
[github]
	user = lepisma
[gpg]
	program = /usr/bin/gpg2
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
