*.pyc
.directory
/scripts/bin/bbq
/scripts/bin/pkr
/pod/roswell/pod
/scripts/bin/pod
/scripts/bin/www
/scripts/bin/aux-backup
/scripts/bin/dump-commit-events
/scripts/bin/psc
/scripts/bin/patchwork

/beets/.config/beets/state.pickle
/beets/.config/beets/discogs_token.json
/bbq/.config/bbq/scrobbled-at
*.sqlite
