.directory
/beets/.config/beets/state.pickle
/beets/.config/beets/discogs_token.json
/mpm/.mpm.d/play-log
/mpm/.mpm.d/last-fm.json
/scripts/bin/ribosome.rb
*.pyc
/scripts/bin/bbq
/scripts/bin/factor
/scripts/bin/pkr
/scripts/bin/red
/mpm/.mpm.d/scrobbled-at
/scripts/bin/eless
/scripts/bin/golify
/mpm/.mpm.d/last-fm.csv
/pod/roswell/pod
/scripts/bin/pod
/scripts/bin/www
