[Desktop Entry]
Encoding=UTF-8
Name=Tomatoid
Comment=Pomodoro Plasmoid

Icon=/contents/images/tomatoid-icon-red.png
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=280,320
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-OptionalExtensions=LaunchApp

X-KDE-PluginInfo-Author=Arthur Taborda
X-KDE-PluginInfo-Email=arthur.hvt@gmail.com
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=tomatoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/Tomatoid?content=152459
