QMenu {
  background-color: #FBF8EF;
  color: #a47dd0;
}

QMenuBar::item {
  background: transparent;
}

QMenu::item:selected {
  background-color: #a47dd0;
}

QTabBar,
QTabBar::tab
{
  font-size: 11px;
  height: 16px;
  padding: 5px;
  font-weight: normal;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #FBF8EF;
  background-color: #FBF8EF;
  color: #666;
}

QTabBar::tab:selected
{
  border-color: #a47dd0;
}

QWidget {
  background: #FBF8EF;
  padding: 6px;
  padding-bottom: 0;
}

