[Unit]
Description=KMonad config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad /home/lepisma/cfg/keyboard/macropad.kbd

[Install]
WantedBy=default.target
