*

!.gitignore
!abbrs.fish
!config.fish
!environment.fish
!fishfile
!functions/check-links.fish
!functions/do.fish
!functions/gi.fish
!functions/huion-setup-keys.fish
!functions/ip-public.fish
!functions/rm.fish
!functions/sdl.fish
!functions/bat.fish
!functions/fish_greeting.fish
!functions/fish_mode_prompt.fish
!functions/fish_prompt.fish
!functions/fish_right_prompt.fish
