// Palette
$dark: #333;
$mid: #777;
$light: #ccc;
$white: #fff;

// Mode line
.mode-line {
    padding: 2px 10px;
    -moz-box-align: center;
    overflow: hidden;
    font-size: 11px;
    font-family: "Noto Sans";
    background-color: $dark !important;

    label[value=""] {
        display: none;
    }

    label {
        color: $white !important;
        font-weight: bold !important;
    }
}

// Minibuffer
#minibuffer {
    padding: 5px 10px;
    color: $dark !important;
    font-family: "Noto Sans";
    font-size: 12px;

    .mode-text-widget {
        display: none;
    }

    &[minibuffermode="message"] {
        .mode-text-widget {
            display: block;
            border-left: 1px solid threedshadow;
            padding-left: 4px !important;
            padding-right: 4px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
        .mode-text-widget[value=""] {
            display: none;
        }
    }

    &.highlight {
        background-color: Highlight;
        color: HighlightText;

        &[minibuffermode="message"] .mode-text-widget {
            border-left: 1px solid highlighttext;
        }
    }
    background: $light !important;
}

#minibuffer-prompt {
    color: $dark !important;
    font-weight: bold;
}

#minibuffer-input {
    color: $dark !important;
    background: $light !important;

    .textbox-input-box {
        width: 5em;
        padding: 0px 5px;
        font-family: "Source Code Pro";
    }

    [anonid="annotation"] {
        font-style: oblique;
    }

    [anonid="strut"] {
        padding-right: 1em !important;
    }
}

// Panels
.panel {
    color: $white;
    background-color: $dark;
    padding: 5px 10px;

    .panel-row-label, .url-panel-label {
        font-weight: bold;
    }
}

// Completions
tree.completions {
    margin: 0px !important;
    font-family: "Source Code Pro";

    treechildren {
        border: none !important;

        &::-moz-tree-row {
            border: none;
        }

        &::-moz-tree-row(current) {
            background-color: $light !important;
        }

        &::-moz-tree-cell-text(completion-description) {
            font-style: italic !important;
            font-weight: bold !important;
        }

        &::-moz-tree-cell-text(current) {
            color: $dark !important;
            font-weight: bold !important;
        }

        &::-moz-tree-cell-text {
            padding: 0px 10px !important;
        }
    }

    treecol {
        -moz-binding: none !important;
    }

    -moz-appearance: none !important;
    border: 0px none !important;
    border-top: 1px solid -moz-Dialog !important;
    -moz-border-top-colors: -moz-initial !important;

    &[hasicons="true"] treechildren::-moz-tree-image {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
}

// Tabs
#tab2-bar {
    border: none !important;
}

.tab2 {
    -moz-box-align: center;
    min-width: 15em;
    max-width: 15em;
    margin-top: 2px;
    margin-left: 1px;
    padding: 5px 5px;
    background-color: $light !important;

    &[selected=true] {
        background-color: $white !important;
    }

    &:hover {
        background-color: #eee !important;

        &[selected=true] {
            background-color: $white !important;
        }
    }
}

.tab2-label {
    -moz-box-flex: 100;
    margin-left: 4pt;
    padding-top: 1pt;
}

.tab2-index {
    padding: 0pt 2pt 0pt 3pt;
    font-weight: 900;
    text-align: center;
    color: $mid;
}

.tab2-icon  {
    width: 16px;
    height: 16px;
    -moz-margin-start: 4pt;
    -moz-margin-end: 3pt;
}

span.__conkeror_hint {
    font-family: "Noto Sans" !important;
    font-size: 14px !important;
    line-height: 14px !important;
    color: $white !important;
    background-color: $dark !important;
}
